 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color:rgb(188, 210, 255);
}

.navbar-brand{
    font-weight: 650;
}
#navb{
    background-color: #000000;
   
    
}

.nb{
 
    color: white !important;
    font-weight: 700;
    transition: .3s;
   
}

.nb:hover{
  background-color:rgb(188, 210, 255)!important;
  border-radius: 50px;

  color: #000000 !important;
  font-weight: 700;
  border-bottom: blue;
  text-decoration: line;
 
}
section {
    display: block;
}

.homebg{
   
    height: 745px;
   
    padding-top: 15%;
    padding-left: 10%;
}

.vicky{
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  color: rgb(0, 0, 0);
}
.vicky::after{
   content: "";
   position: absolute;
   left: 0;
   height: 100%;
   width: 100%;
   background:rgb(188, 210, 255);
   
   animation: typing 3s steps(20) infinite;
}
@keyframes typing{
  100%{
      left: 100%;
      margin: 0 -35px 0 35px;
  }
}

.button {
    display: inline-block;
    
    text-decoration: none;
    
    background-color: rgb(255, 255, 255);
    border:1px #000000 solid;
    color: #000000;
    margin-left: 5%;
    margin-top: 2%;
    padding: .75rem 2.5rem;
    font-weight: 600;
    border-radius: .5rem;
    transition: .3s;
  }
  .button:hover{
    background-color:rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        
  }

  .home_social-icon{
      font-size: 1.8rem;
      padding-left: 20px;
      
      position: relative;
      top: 100px;
        
  }
  .instagram{
    color: rgb(255, 37, 37);
    transition: 300ms;
  }
  .instagram:hover{
    
   
    text-shadow: rgb(0, 0, 0);
  }
  .teligram:hover{
    transition: .5s;
    
    
    color: rgb(71, 147, 255);
    text-shadow: rgb(0, 0, 0);
  }
  .github{
    color: black;
  }
  .github:hover{
    transition: .5s;
   
   
    text-shadow: rgb(0, 0, 0);
  }
  .whatsapp{
    color: rgb(0, 184, 28);
  }
  .whatsapp:hover{
    transition: .5s;
    margin-top: 10px;
    
    
    text-shadow: rgb(0, 0, 0);
  }


  .scroll-dwn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    position: absolute;
    left: 45%;
    top: 550px;
    
  }
  .scroll-dwn:hover,.scroll-dwn::after{
    margin-top: 10px;
    transition: .3s;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-shadow: #000000,2px;
}
.image{
    position: absolute;
    top: 115px;
    margin: 0px;
    padding: 0px;
    left: 66%;
    
      
}
.imgr{
    width: 500px;
}
.about{
    
    border-radius: 50px;
    margin-top: 30px;
   
}

.ldnpic{
    height: 300px;
    border-radius: 6px;
    transition: .3s;
}
.ldnpic:hover{
  transform: scale(1.05);
 
}
.w3pic{
    height: 300px;
    border-radius: 6px;
    transition: .3s;
}
.w3pic:hover{
  transform: scale(1.05);
 
}
.fb{
  height: 300px;
  border-radius: 6px;
  transition: .3s;
}

.fb:hover{
  transform: scale(1.05);
}


/* aboout */
#about{
    height: 680px;
    border-radius: 50PX;
    box-shadow: 0 0 20px rgb(80, 81, 81);
    padding-top: 30px;
    
    
    
}
.aboutimg{
    width: 50%;
    
    float: left;
}

.about__img {
    
    border-radius: 50px;
    
    width: 400px;
    margin-left: 150px;
    
  }
.abttext{
    font-weight: 500;
    text-align: center;
    right: 20px;
   
    width: 50%;
    float: left;
}


.about__info{
    display: flex;
   justify-content: space-evenly;
}

  
.section__title{
    display: flex;
    justify-content: center;
}
.section__subtitle{
    display: flex;
    justify-content: center;

}
.about__description{
    display: flex;
    justify-content: end;
}

/* skill section */
.main2{
  margin-top: 30px;
    top: 1500px;
    left: 27%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(80, 81, 81);
    transform: .2s;
    
  }
  .main2:hover{
    
  }
  .col-lg{
    margin: 30px;
  }
  .progress{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: bl;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    align-content: center;
    height: 35%;
    width:100%;
  }
  .pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    height: 25px;
    width: 0%;
    margin-left: -12px;
  }
  .progress p{
    background-color:rgb(0, 0, 0);
    padding: 2px;
    text-align: center;
    color: #fff;
  }
  @keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
  }
  .pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    height: 25px;
    width: 0;
    margin-left: -12px;
  }
  .pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 25px;
    width: 0;
    margin-left: -12px;
  }
  @keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
  }
  @keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }}

    /* PROJECT */
    .main3{
       
      margin-top: -60px;
      
        border-radius: 20px;
        width: 1400px;
        height: 900px;
        border-radius: 50px;
        box-shadow: 0 0 20px rgb(53, 53, 53);
        color: rgb(0, 0, 0);
        transform: .2s;
      }
     
      .projects{
          display: flex;
          width: 100%;
      }
      .ldnpic{
          
          margin-left: 50px;
          margin-top: 50px;
          
          
         
      }
      
      .w3pic{
        margin-left: 90px;
        margin-top: 50px;
          
      }
      .fb{
        
        width: 500px;
       margin-left: 300px;
       margin-top: 70px;
        height: 250px;
        
      }
      /* cotact */
      .gmail{
        margin-top: 30px;
        border-radius: 50px;
        box-shadow: 0 0 20px rgb(53, 53, 53);
       
        top: 1675px;
        padding: 30px;
        padding-top: 50px;
        padding-bottom: 60px;
        
      }
      .subbtn{
        margin-left: 500px;
        margin-top: 20px;
        border-radius: 10px;
        width: 200px;
        transition: .3s;

      }
      .subbtn:hover{
        color: white;
        background: #000000;
      }
      /* footer */
      .footer{
        
        margin-top: 50PX;
      }


        .home_social-iconn{
          font-size: 1.8rem;
          padding-left: 20px;
          padding-top: 20px;
        }
      .fot-instagram{
        color: rgb(55, 55, 55);
      }
      .fot-telegram{
        color: rgb(55, 55, 55) !important;

      }
      .fot-github{
        color: rgb(55, 55, 55);
      }
      .fot-whatsapp{
        color: rgb(55, 55, 55);
      }
      .fot-instagram:hover{
        color: rgb(255, 47, 47);
        box-shadow: greenyellow;
      }
      .fot-github:hover{
          color: blue;
      }
    
      .fot-github:hover{
        color: black;
      }
      .fot-whatsapp:hover{
        color: rgb(0, 134, 4);
      }

      